body{
    background:#050505;
    color:#00ff66;
    font-family:monospace;
    margin:0;
}

.login{
    width:320px;
    margin:120px auto;
    text-align:center;
}

h1{
    font-size:42px;
}

input{
    width:100%;
    padding:14px;
    margin:10px 0;
    background:#000;
    border:1px solid #00ff66;
    color:#00ff66;
    box-sizing:border-box;
}

button{
    width:100%;
    padding:14px;
    background:#00ff66;
    color:#000;
    border:none;
    margin-top:20px;
}
hr{
    border:1px solid #00ff66;
    margin:20px 0;
}

h2{
    color:#00ff66;
    margin:5px;
}

h3{
    color:white;
    margin:5px;
    font-weight:normal;
}

button{
    transition:.2s;
}

button:hover{
    background:#0aff6c;
    transform:scale(1.02);
}

body{
    animation:fade .5s;
}

@keyframes fade{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
